html, body{
    margin:0;
    padding:0;
}

body{
	background: #222629;
    font-family: Verdana, sans-serif, Arial;
    color: white;
    width:100%;
}

iframe{
	width:100%;
	height:315px;
}

.btn{
	background:#86C232 !important;
}

.darkgreen{
	color: #61892F;
}

.lightgreen{
	color: #86C232;
}

.almostblack{
	color: #222629;
}

.darkgrey{
	color: #474B4F;
}

.lightgrey{
	color: #6B6E70;
}

#logo{
    font-family: sans-serif;
    font-weight: 600;
}

nav{
	border-bottom: 2px solid #86C232;
}

nav div ul li{
	border-top: 2px solid #343a40;
    border-bottom: 2px solid #343a40;
}

nav div ul li:hover{
	border-top: 2px solid #86C232;
    border-bottom: 2px solid #86C232;
}

#header_bg{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-size: cover;
    height: 50vh;
}

hr{
	border-top: 2px solid #86C232;
}

.footer{
    background: #222629;
    color: white;
    border-top: 2px solid #86C232;
}

.span:before {
    content: '';
    background-color: #86C232;
    display: block;
    width: 100%;
    height: 2px;
    margin-right: 25px;
}

.span {
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
    height: 20px;
    align-items: center;
    margin-bottom: 20px;
  }

.span:after {
    content: '';
    background-color: #86C232;
    display: block;
    width: 100%;
    height: 2px; 
    margin-left:25px;
}

.exercisesimg{
	height: 300px;
	width: 100%;
	border-top: 2px solid #86C232;
	border-bottom: 2px solid #86C232;
}

.aboutimg{
	width: 33%;
}

.margintop{
	margin-top: 10vh;
}

.trainer{
	width: 100%;
	height: 300px;
}

.linkgreen{
	text-decoration: none;
	color: white;
}

.linkgreen:active{
	text-decoration: none;
	color: #86C232;
}

.linkgreen:hover{
	text-decoration: none;
	color: #86C232;
}

.linkgreen:visited {
  	background-color: cyan;
}